force-app/main/default/flows/B2C_Autolaunched_Find_Matches.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Search_B2C_Commerce</name>
        <label>Search B2C Commerce</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>extservb2c::B2CCommerceCustomer.search</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>SearchResults_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SearchRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerListId</name>
            <value>
                <elementReference>CustomerListId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organizationId</name>
            <value>
                <elementReference>OrganizationId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SearchRequest_Assignment</name>
        <label>SearchRequest Assignment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SearchRequest.offset</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchRequest.z0limit</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchRequest.query.textQuery.fields</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchRequest.query.textQuery.searchPhrase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchPhrase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_B2C_Commerce</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SearchRequestData_Assignment</name>
        <label>SearchRequestData Assignment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Fields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchPhrase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_GetRecord.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SearchRequest_Assignment</targetReference>
        </connector>
    </assignments>
    <interviewLabel>B2C: Autolaunched: Find Matches {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>B2C: Autolaunched: Find Matches</label>
    <loops>
        <name>SearchResults_Loop</name>
        <label>SearchResults Loop</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Search_B2C_Commerce.200.hits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact_GetRecord</name>
        <label>Contact GetRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SearchRequestData_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CUSTOMER_LIST_ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>Fields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrganizationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ORGANIZATION_ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchPhrase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchRequest</name>
        <apexClass>ExternalService__extservb2c__B2CCommerceCustomer_SearchRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
